*{

    box-sizing: border-box;
    padding:0; margin:0;
}
body{
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
}
#personalizations{
    display:flex; flex-direction: row;
    width: 500px;
    margin:20px;
}
#sketchbook {
    border: 1px solid black;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    width: 500px;
    height:500px;
}
#opacity_input{
    width: 105px;
}

